/* styling applying to html document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* defining height, width and background color */
.grade{
    background-color: rgb(183, 183, 236);
    height: 50vh;
    width: 50vw;
    border-radius: 30px;
}
.marks{
    height: 50vh;
    width: 20vw;
    position: absolute;
    background-color: rgb(52, 52, 126);
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
}
/* adding style to heading */
.heading h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 30px;
    color: whitesmoke;
}

.total{
    margin: 15px;
    color: whitesmoke;
    font-size:.8rem ;
    position: absolute;
    justify-content: space-evenly;
    

}
/* adding margins and aligning main document */
.main{
    min-height: 50vh;
    min-width: 60vw;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .3rem;
    margin-left: 30px;
    font-size: 30px;
    


}
#main-score{
    text-align: center;
}
/* styling the input */
#main-score input{
    height: 30px;
    margin: 13px;
    width:250px ;
    font-size: 1.2rem;
    padding: .3rem;
    border-radius: 5px;
    font-weight: 900px;
    outline: none;
    border: 1px solid gray;
    background-color:white ;
   
}
/* styling the button */
button{
    height: 35px;
    width: 200px;
    font-size: 15px;
    font-weight: 800px;
    outline: none;
    cursor: pointer;
}